/*Body Styling*/
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color:#ccc;
}

/*Section Styling*/
section {
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #ccc;
}

/*Heading Styling*/
h1, h2 {
    color: #d37bcf;
    margin-bottom: 10px;
}

/*Input Styling*/
input {
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #ccc;
}

/*Button Styling*/
button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

/* ul Styling */
ul {
    list-style-type: none;
    padding: 0;
}

/* li Styling */
li {
    margin: 5px 0;
}

